
<table>
  <tr>
      <th>Customer Number</th>
      <td> <%= f.text_field:customerNumber, :readonly => true %> </td>
  </tr>
    <tr>
        <th>Forename</th>
        <td> <%= f.text_field(:forename) %> </td>
    </tr>
    <tr>
        <th>Surname</th>
        <td> <%= f.text_field(:surname) %> </td>
    </tr>
    <tr>
        <th>Email</th>
        <td> <%= f.text_field(:email) %> </td>
    </tr>
    <tr>
        <th>Phone</th>
        <td> <%= f.text_field(:phone) %> </td>
    </tr>
    <tr>
        <th>D.O.B</th>
        <td> <%= f.date_select :dob, start_year: 1900, end_year: Time.now.year %> </td>
    </tr>
    <tr>
        <th>Password</th>
        <td> <%= f.text_field(:password) %> </td>
    </tr>
    <tr>
        <th>Password Confirmation</th>
        <td> <%= f.text_field(:password_confirmation) %> </td>
    </tr>
</table>
