<!Doctype html>
<head>
</head>
<body>
  <br>
  <h1>Edit Customer Details</h1>
  <hr>
  <br>
    <%=  bootstrap_form_for(@customer, class: 'form-horizontal') do |f| %>
    <% if logged_in? %>
      <%= f.text_field :customerNumber, :readonly => true, label: "Customer Number" %>
    <% else %>
      <%= f.text_field :customerNumber, :readonly => false, label: "Customer Number" %>
    <% end %>
      <%= render(:partial => 'form', :locals => {:f => f}) %>
      <%= f.submit "Save Changes", class: 'btn btn-lg btn-primary btn-block' %>
    <% end %>
</body>
