
<% if logged_in? %>
<%= "logged in" %>
</br>
<%= link_to "Log out", customer_logout_path, method: "delete" %>
<% else %>
<%= link_to("Login", customer_login_path) %>
<% end %>

  <br><br>
  </table class="table">
    <tr><th>Accounts</th></tr>
    <% @accounts.each do |account| %>
    <tr>
      <td><B><%= account.accountName %></B></td>
      <br>
      <td><%= account.accountNumber %></td>
      <td><%= formatBalance(account) %></td>
      <br><br>
      <tr>
      <tr>
        <% end %>
  </table>
