<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">

    </script><!-- Font awesome -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  </head>

  <body>
<% if logged_in? %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Bank
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Home", root_path, method: "get", class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Accounts", accounts_path, method: "get", class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Transactions", root_path, method: "get", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", customer_logout_path, method: "delete", class: "nav-link  my-2 my-lg-0" %>
          </li>
        </ul>

      </div>
    </nav>
<% end %>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <% flash.each do |type, msg| %>
            <div class="alert alert-<%= type %>">
              <%= msg %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= yield %>
        </div>
      </div>
      <div class="row">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
</html>
