<h1>Create a payment here</h1>
<%= form_with scope: :payment , url: payments_create_path, local: true do |f| %>
<p>
        <%= f.label "The account number you want to send money to:" %>
         <%= f.text_field(:recievingAccount) %>
</p>
<p>
        <%= f.label "Choose the currency:" %>
         <%= select_tag(:currency, options_for_select([ ['EUR', 'EUR'],['GBP', 'GBP'],['USD', 'USD']], 'GBP'))%>
</p>
<p>
        <%= f.label "The amount you want to send:" %>
         <%= f.text_field(:sumSended) %>
</p>
<p>
        <%= f.label :paymentDate %>
         <%= f.date_field(:paymentDate) %>
</p>
<p>
        <%= f.submit "Create payment "%>
</p>
  <% end %>
