<!doctype html>
<head>
  <title>Create new admin</title>
</head>
<body>
  <br>
  <h1>Add new Administrator</h1>
  <hr>
  <%= bootstrap_form_for @admin, url: admin_users_path, method: 'post', class: "form" do |f| %>
    <%= f.text_field :email %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
    <%= f.button "submit", class: 'btn btn-lg btn-primary btn-block' %>
  <% end %>
</body>
