<%=  link_to('Edit Personal Details', edit_customer_path(current_user)) %>
  <br>
  <h1>Hello, <%= "#{current_user.forename} #{current_user.surname}" %></h1>
  <br>
  <h2><B>Accounts</B></h2>
  </table class="table">
  <hr>
    <% @accounts.each do |account| %>
    <tr>
      <td><B><%= account.accountName %></B></td>
      <br>
      <td><%= "Account Number: #{account.accountNumber}" %></td>
      <br>
      <td><%= formatBalance(account) %></td>
      <br><br>
      <td>
        <%= link_to('View Transactions', transactions_path(account_id: account.id)) %>
      </td>
      <hr>
    <tr>
    <% end %>

<%=  link_to('Create a new account', new_account_path) %>
