<!DOCTYPE html>
<%= stylesheet_link_tag "accounts.css" %>
<html>
  <head>
    <title>Accounts</title>
  </head>
  <body>
    <%=  link_to('Edit Personal Details', edit_customer_path(current_user)) %>
    <%=  link_to('Create a new account', new_account_path) %>
    <div>
      <br>
      <h1>Hello, <%= "#{current_user.forename} #{current_user.surname}" %></h1>
      <br>
      <h2><B>Accounts</B></h2>
      <br>
      <div style="height: 60%; overflow: scroll">
        <table class="table">
          <tbody>
            <% @accounts.each do |account| %>
            <tr>
              <td>
                <h3><B><%= account.accountName %></B></h3>
                <p><%= "Account Number: #{account.accountNumber}" %></p>
                <p><B><%= formatBalance(account) %></B></p>
              </td>
              <td style="align: left">
                <%= link_to 'View Transactions', transactions_path(account_id: account.id),
                class: "btn btn-primary", style: "width: 100%; margin: 2%; padding:100 0 100 0" %>
                <br>
                <%= link_to 'Make Payment', new_transaction_path(account_id: account.id),
                class: "btn btn-primary", style: "width: 100%; margin: 2%" %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
