<!doctype html>
<html lang="en">
  <head>
    <title>Login </title>
    <meta charset="utf-8">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  </head>
  <body>
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal"></h1>
  </div>
  <%= bootstrap_form_with(class: 'form-signin', url: customer_login_path, scope: :session, local: true) do |f| %>
    <%= f.text_field :email, class:"form-control" %>
    <%= f.password_field :password, class:"form-control" %>
    <%= f.submit "Sign in", class: 'btn btn-lg btn-primary btn-block' %>
  <% end %>
<div class="text-center p-t-115">
<span class="txt1">
Don’t have an account?
</span>
<%= link_to('Sign Up', new_customer_path) %>
</body>
</html>
