<h2>Success!</h2>

<p>The payment was made successfully!</p>

<h3>Payment Overview</h3>
<p><%= "Transaction id #{@transaction.transactionNumber}" %></p>
<p><%= "To #{@recievingAccount.accountNumber}" %></p>
<p><%= "From #{@sendingAccount.accountNumber}" %></p>
<p><%= "Amount #{@transaction.amount} #{@transaction.currency}" %></p>

<%=  link_to "Return to Accounts View",  accounts_path %>
