<div>
  <br>
  <h2>Transactions for <%= @account.accountName %> </h2>
  <br>
  <h5> <%= "Account Number: #{ @account.accountNumber }"%> </h5>
  <h5> <%= "Current Balance: #{ formatBalance(@account) }"%> </h5>
  <br><br>
</div>

<table class="table">
  <tr> <th>Date</th> <th>Account Name</th> <th>Description</th> <th>Amount</th> </tr>
  <% @transactions.each do |transaction| %>
  <tr>
    <td> <%= transaction.transactionDate %> </td>
    <td> <%= getAccountName(transaction, transaction.sendingAccount_id == @account.id) %> </td>
    <td> <%= transaction.description %> </td>
    <%  if transaction.sendingAccount_id == @account.id %>
      <td style="color: red"> <%= "-#{formatAmount(transaction)}" %> </td>
    <% else %>
      <td style="color: green"> <%= "+#{formatAmount(transaction)}" %> </td>
    <% end %>
  </tr>
  <% end %>
</table>
