
<%=  form_for(@transaction, :method => 'post') do |f| %>

  <h2> <%= "Make Payment"%> </h2>
  <p> <%= "Account: #{@account.accountNumber}" %><br>
  <%= "Available Balance: #{formatBalance(@account)}" %> </p>

  <%= f.hidden_field :sendingAccount_id  %><br>

  <%= f.label "Transaction number:" %>
  <%= f.text_field :transactionNumber, :readonly => true %><br>

  <%= f.label "Pay to:" %>
  <%= f.text_field(:recievingAccount_id) %><br>

  <%= f.label "Amount:" %>
  <%= f.text_field(:amount) %><br>

  <%= f.label "Currency:" %>
  <%= f.text_field(:currency) %><br>

  <%= f.label "Payment Description:" %>
  <%= f.text_field(:description) %><br>

  <%= f.submit 'Submit' %>

<% end %>
