
<%=  form_for(@transaction, :method => 'post') do |f| %>

  <h2><%= "Making payment from Account: #{@account.accountNumber}"%></h2>
  <%= f.hidden_field :sendingAccount_id  %><br>

  <%= f.label "Transaction number:" %>
  <%= f.text_field :transactionNumber, :readonly => true %><br>

  <%= f.label "Pay to:" %>
  <%= f.text_field(:recievingAccount_id) %><br>

  <%= f.label "Amount:" %>
  <%= f.text_field(:amount) %><br>

  <%= f.label "Currency:" %>
  <%= f.text_field(:currency) %><br>

  <%= f.label "Payment Description:" %>
  <%= f.text_field(:description) %><br>

  <%= f.submit 'Submit' %>

<% end %>
