<!doctype html>
<html lang="en">
  <head>
    <% stylesheet_link_tag "accounts.css" %>
    <title>Create new account</title>
  </head>
  <body>
    <br>
    <h1>Add Account</h1>
    <hr>
    <div class="container">
      <div class="form-account">
        <%=  form_for(@account, :method => 'post', class: 'form-account') do |f| %>
          <%= fields_for(@customer_account, class: 'form-account') do |g| %>
          <table class ='form-signin'>
          <tr>
              <th>Customer Number</th>
              <td><%=  g.text_field :customerNumber, class: "form-control" %></td>
          </tr>
          </table>
          <%end%>
          <%= render(:partial => 'form', :locals => {:f => f}) %>
          <%= f.submit "Create new account", class: 'btn btn-lg btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </body>
</html>
